language: generic
sudo: required

services:
        - docker

before_install:
        - docker build -t sanwill/travis-docker-bionic-02 -f Dockerfile.dev .

script:
        - docker run sanwill/travis-docker-bionic-02 sh /opt/test_script.sh

